<% title "Libraries" %>

<table>
  <tr>
    <th>Location</th>
  </tr>
  <% for library in @libraries %>
    <tr>
      <td><%=h library.location %></td>
      <td><%= link_to "Show", library %></td>
      <td><%= link_to "Edit", edit_library_path(library) %></td>
      <td><%= link_to "Destroy", library, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Library", new_library_path %></p>
