<p>
  <b>Book copy:</b>
  <%=h @borrowing.book_copy %>
</p>

<p>
  <b>Library:</b>
  <%=h @borrowing.library %>
</p>

<p>
  <b>User:</b>
  <%=h @borrowing.user %>
</p>


<%= link_to 'Edit', edit_borrowing_path(@borrowing) %> |
<%= link_to 'Back', borrowings_path %>