<% title "Book Copy" %>

<p>
  <strong>Instances:</strong>
  <%=h @book_copy.instances %>
</p>
<p>
  <strong>Book:</strong>
  <%=h @book_copy.book_id %>
</p>

<p>
  <%= link_to "Edit", edit_book_copy_path(@book_copy) %> |
  <%= link_to "Destroy", @book_copy, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", book_copies_path %>
</p>
